.main {
    position: relative;
    flex: 1;
    background: #242424;
}

.content {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    height: 50%;
    border-bottom: 1px solid #505050;
}

.content::before, .log-tracer::before {
    content: 'ChartTracer';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 6px;
    height: 32px;
    line-height: 32px;
    background: #505050;
    color: #bbb;
    font-size: 14px;
}

.main .item {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 30px;
    background: #ccc;
    text-align: center;
    transition: left 1s;
}

.main .active {
    background: #ffeb3b;
}

.main .fix {
    background: #2962ff;
}

.log-tracer {
    position: relative;
    height: 50%;
}

.log-tracer::before {
    content: 'LogTracer';
}